[Unit]
Description=Sync rclone périodique (après chaque exécution)

[Timer]
OnBootSec=1min
OnUnitInactiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
