[Unit]
Description=RcloneDash - Interface Web pour rclone
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/.local/share/RcloneDash
ExecStart=%h/.local/share/RcloneDash/venv/bin/python %h/.local/share/RcloneDash/rclone-monitor.py
Restart=on-failure
RestartSec=2
TimeoutStopSec=2

[Install]
WantedBy=default.target
