[Unit]
Description=Synchronisation rclone Google Drive
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=__USER__
ExecStart=/usr/bin/rclone bisync GoogleDrive: __HOME__/GoogleDrive \
  --config __HOME__/.config/rclone/rclone.conf \
  --filter-from __HOME__/.config/rclone/gdrive-filters.txt \
  --drive-skip-shortcuts \
  --drive-skip-gdocs \
  -v \
  --create-empty-src-dirs \
  --conflict-resolve newer \
  --resilient
