[Desktop Entry]
Name=RcloneDash
GenericName=Rclone Bisync Dashboard
Comment=Google Drive & Rclone Bisync Dashboard
Exec=rclonedash
Icon=rclonedash
Terminal=true
Type=Application
Categories=Utility;FileTools;Archiving;
Keywords=rclone;sync;bisync;dashboard;drive;
StartupNotify=false
